body{
    background-color: rgb(244, 236, 236);
}

.circular-image {
    border-radius: 60%;
    width: 100px; 
    height: 100px; 
    background-color: rgb(3, 3, 3);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../EnaCoach.jpg");

    
    
}
